<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='plugins/images/favicon.png') }}">

    <title>Pixel Admin - Responsive Admin Dashboard Template built with Twitter Bootstrap</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static',filename='bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Menu CSS -->
    <link href=" {{ url_for('static', filename = 'plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css')}}" rel="stylesheet">
    <!-- toast CSS -->
    <link href="{{ url_for('static',filename='plugins/bower_components/toast-master/css/jquery.toast.css') }}" rel="stylesheet">
    <!-- morris CSS -->
    <link href="{{ url_for('static',filename='plugins/bower_components/morrisjs/morris.css')}}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{{ url_for('static',filename='css/animate.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{{ url_for('static',filename='css/colors/blue-dark.css') }}" id="theme" rel="stylesheet">

    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/dataTables.bootstrap.min.css')}}" >

    <style>
        .dataTables_filter {
        display: none;
        }

        #T_P_T{
            font-size: 28px;
        }

        #NAV3{
            background: #153a50;
        }

    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav  class="navbar navbar-default navbar-static-top m-b-0">
            <div  class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></a>
                <div class="top-left-part"><a class="logo" href="index.html"><b><img src="{{ url_for('static',filename='plugins/images/pixeladmin-logo.png') }}" alt="home" /></b><span class="hidden-xs"><img src="{{ url_for('static', filename='plugins/images/pixeladmin-text.png') }}" alt="home" /></span></a></div>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>
                        <a class="profile-pic" href="#"> <img src="{{ url_for('static',filename='plugins/images/users/andres.jpg') }}" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">Andres</b> </a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Left navbar-header -->
        <div  class="navbar-default sidebar" role="navigation" >
            <div id="NAV3" class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li style="padding: 10px 0 0;">
                        <a href="http://127.0.0.1:4444" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i><span class="hide-menu">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/AndresBena19" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i><span class="hide-menu" >Github</span></a>
                    </li>
                    <li>
                        <a href="map-google.html" class="waves-effect"><i class="fa fa-globe fa-fw" aria-hidden="true"></i><span class="hide-menu">Google Map</span></a>
                    </li>
                    <li>
                        <a href="404.html" class="waves-effect"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i><span class="hide-menu">Error 404</span></a>
                    </li>
                    <li>
                        <div class="col-in row">
                                <div class="col-md-6 col-sm-6 col-xs-6"> <i data-icon="E" class="linea-icon linea-basic"></i>
                                    <h5 class="text-muted vb">Average per time</h5> </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <h3 id ="T_P_T" class="counter text-right m-t-15 text-danger">0</h3> </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                                    </div>
                                </div>
                            </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Dashboard</h4> </div>
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>

                        </ol>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-6">
                             <canvas id="BarStatus"  height="50" width="140"> </canvas>
                          </div>
                          <div class="col-md-6">
                             <canvas id="Bar"  height="50" width="140"> </canvas>
                          </div>
                        </div>
                      </div>
                    </div>

                <canvas id="lineGraph"  height="25" width="150"> </canvas>
                <tbody><tr>

                <!--row -->

                <div class="row">
                    <div class="col-sm-12">

                        <div class="white-box">
                            <div class="table-responsive">

                        <div class="input-group">

                            <input placeholder="Start Date"  type="text" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" id="max">
                          <span class="input-group-addon"></span>
                            <input placeholder="End Date"  class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="min">

                        </div>

                                <table   id="example" class="table table-striped table-bordered" style="width:100%">
                                 <tfoot>
                                      <tr>
                                   <th>State</th>

                                     </tr>
                               </tfoot>
                                    <thead>
                                        <tr>
                                            <th>State Code</th>
                                            <th>Pro Code</th>
                                            <th>Profession</th>
                                            <th>License ID</th>
                                            <th>Cycle End Date</th>
                                            <th>Compliance Status</th>
                                            <th>Client ID</th>
                                            <th>Star Log Date</th>
                                            <th>End Log Date</th>
                                            <th>Enviroment</th>
                                            <th>Machine</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for Log in Logs %}
                                        <tr>
                                            <td>{{ Log['cd_cebroker_state'] }}</td>
                                            <td>{{ Log['pro_cde'] }}</td>
                                            <td>{{ Log['cd_profession'] }}</td>
                                            <td>{{ Log['id_license'] }}</td>
                                            <td>{{ Log['dt_end'] }}</td>
                                            <td>{{ Log['ds_compl_status_returned'] }}</td>
                                            <td>{{ Log['id_client_nbr'] }}</td>
                                            <td>{{ Log['dt_Start_Log'] }}</td>
                                            <td>{{ Log['dt_end_log'] }}</td>
                                            <td>{{ Log['cd_environment'] }}</td>
                                            <td>{{ Log['cd_machine'] }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->


            <footer class="footer text-center"> 2017 &copy; wrappixel.com </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->

    <script src="{{ url_for('static',filename='plugins/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static',filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="{{ url_for('static',filename='plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js') }}"></script>
    <!--slimscroll JavaScript -->
    <script src="{{ url_for('static',filename='js/jquery.slimscroll.js') }}"></script>
    <!--Wave Effects -->
    <script src="{{ url_for('static',filename='js/waves.js') }}"></script>

    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/example.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parseTable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.js') }}"></script>

    <!--Counter js -->
    <script src="{{ url_for('static',filename='plugins/bower_components/waypoints/lib/jquery.waypoints.js') }}"></script>
    <script src="{{ url_for('static',filename='plugins/bower_components/counterup/jquery.counterup.min.js') }}"></script>
    <!--Morris JavaScript -->
    <script src="{{ url_for('static', filename='plugins/bower_components/raphael/raphael-min.js') }}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static',filename='js/custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard1.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/bower_components/toast-master/js/jquery.toast.js') }}"></script>


    <script>
                /**
         * converts array-like object to array
         * @param  collection the object to be converted
         * @return {Array} the converted object
         */
        function arrayify(collection) {
          return Array.prototype.slice.call(collection);
        }

        /**
         * generates factory functions to convert table rows to objects,
         * based on the titles in the table's <thead>
         * @param  {Array[String]} headings the values of the table's <thead>
         * @return {Function}      a function that takes a table row and spits out an object
         */
        function factory(headings) {
          return function(row) {
            return arrayify(row.cells).reduce(function(prev, curr, i) {
              prev[headings[i]] = curr.innerText;
              return prev;
            }, {});
          }
        }

        /**
         * given a table, generate an array of objects.
         * each object corresponds to a row in the table.
         * each object's key/value pairs correspond to a column's heading and the row's value for that column
         *
         * @param  {HTMLTableElement} table the table to convert
         * @return {Array[Object]}       array of objects representing each row in the table
         */
        function parseTable(table) {
          var headings = arrayify(table.tHead.rows[0].cells).map(function(heading) {
            return heading.innerText;
          });
          return arrayify(table.tBodies[0].rows).map(factory(headings));
        }
    </script>



<!-- This function  get the actual basic informaton diplayed on the 20 record -->
    <script>
        function BasicInfo() {

            var table = document.getElementById("example");
            var data = parseTable(table);

            var Days = {};
            var NumDays = [];
            var Machine = {};
            var Status = {};


            data.forEach(function (item, i) {
                for (p in item) {
                    Days[item["Cycle End Date"]] = {};
                    Machine[item["Machine"]] = {};
                    Status[item["Compliance Status"]] = {}
                }
            });


            for (i = 0; i < Object.keys(Days).length; i++) {

                contDays = 0;
                contMachine = 0;
                contStatus = 0;
                data.forEach(function (item, w) {
                    for (p in item) {
                        if (item["Cycle End Date"] === Object.keys(Days)[i]) {
                            contDays++
                        }
                        ;
                        if (item["Machine"] === Object.keys(Machine)[i]) {
                            contMachine++
                        }
                        ;
                        if (item["Compliance Status"] === Object.keys(Status)[i]) {
                            contStatus++
                        }
                        ;

                    }


                });
                NumDays.push(contDays);
                Days[Object.keys(Days)[i]] = contDays / data.length;
                Machine[Object.keys(Machine)[i]] = contMachine;
                Status[Object.keys(Status)[i]] = contStatus;
            }
            ;

            var Total_per_time = document.getElementById("T_P_T");

            var a = NumDays;
            var sum = a.reduce(function (a, b) {
                return a + b;
            }, 0);


            Total_per_time.innerHTML = parseFloat(sum/Object.keys(Days).length).toFixed(1);

            delete Machine["undefined"];
            delete Status["undefined"];


            var ShortDates = [];

            for (i = 0; i < Object.keys(Days).length; i++) {
                ShortDates.push(Object.keys(Days)[i].replace("T00:00:00", ""));

            }


            return [Days,NumDays,Machine,ShortDates,Status]

        }

    </script>

<!-- This function  we create the graphs according with the actual record displayed(20) -->
<script>
            Update = BasicInfo();

            var Days = Update[0];
            var NumDays = Update[1];
            var Machine = Update[2];
            var ShortDates = Update[3];
            var Status = Update[4];


            var ctx = document.getElementById("lineGraph").getContext('2d');

            /* Average Response Time per Day (Line Graph) */

            var myChartLine = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ShortDates.sort(),
                    datasets: [{
                        label: 'Average per day',
                        data: Object.values(Days),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });


            /* Total Requests per Compliance Status (Bar Graph) */

            var ctx = document.getElementById("BarStatus").getContext('2d');


            var myChartBar = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: Object.keys(Status),
                    datasets: [{
                        label: 'Total Request per Status',
                        data: Object.values(Status),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            /* Total Requests per Machine (Bar Graph) */

            var ctx = document.getElementById("Bar").getContext('2d');

            var myChartBar2 = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: Object.keys(Machine),
                    datasets: [{
                        label: 'Total request per Machine',
                        data: Object.values(Machine),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
    </script>



    <"-- Update and remove te actual set of data on the graphs-->

    <script>
        function removeData(chart) {
           chart.data.labels.pop();

            chart.data.datasets.forEach((dataset) => {
                dataset.data.pop();
            });
            chart.update();
}

        function addData(chart, label, data) {
            chart.data.labels=label;
            chart.data.datasets.forEach((dataset) => {
                dataset.data=data;
            });
            chart.update();
}
    </script>


    <!-- Create aa dropdown to filter the record per state-->
    <script>
        $(document).ready(function() {
        $('#example').DataTable( {
            "lengthChange": false,
            "pageLength": 20,

            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select   class="form-control" placeholder="Select the state"><option  value="">State</option></select>')
                        .appendTo( $(column.footer()).empty() )
                        .on( 'change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                        } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        } );

        var table = $('#example').DataTable();

            /* Here we listen the event triggered by the table, to update the graphs */
                 table.on( 'draw', function () {


                     while(removeData(myChartLine)){}
                     while(removeData(myChartBar)){}
                     while(removeData(myChartBar2)){}


                     Data = BasicInfo();


                    var Days = Data[0];
                    var NumDays = Data[1];
                    var Machine = Data[2];
                    var ShortDates = Data[3];
                    var Status = Data[4];

                    addData(myChartLine,ShortDates.sort(), Object.values(Days));
                     addData(myChartBar,Object.keys(Status), Object.values(Status));
                     addData(myChartBar2,Object.keys(Machine), Object.values(Machine));


    } );


    
    } );
    

</script>

    <!-- Help to filter the table with a date range -->

    <script>
        $.fn.dataTableExt.afnFiltering.push(
        function( oSettings, aData, iDataIndex ) {
            var iFini = document.getElementById('min').value;
            var iFfin = document.getElementById('max').value;
            var iStartDateCol = 6;
            var iEndDateCol = 7;
    
            iFini=iFini.substring(6,10) + iFini.substring(3,5)+ iFini.substring(0,2);
            iFfin=iFfin.substring(6,10) + iFfin.substring(3,5)+ iFfin.substring(0,2);
    
            var datofini=aData[iStartDateCol].substring(6,10) + aData[iStartDateCol].substring(3,5)+ aData[iStartDateCol].substring(0,2);
            var datoffin=aData[iEndDateCol].substring(6,10) + aData[iEndDateCol].substring(3,5)+ aData[iEndDateCol].substring(0,2);
    
            if ( iFini === "" && iFfin === "" )
            {
                return true;
            }
            else if ( iFini <= datofini && iFfin === "")
            {
                return true;
            }
            else if ( iFfin >= datoffin && iFini === "")
            {
                return true;
            }
            else if (iFini <= datofini && iFfin >= datoffin)
            {
                return true;
            }
            return false;
        }
    );
    
        $(document).ready(function() {
          var table = $('#example').DataTable();
    
          // Add event listeners to the two range filtering inputs
          $('#min').keyup( function() { table.draw(); } );
          $('#max').keyup( function() { table.draw(); } );
      } );
        
    </script>


    <script type="text/javascript">
    $(document).ready(function() {
        $.toast({
            heading: 'Welcome to Frontend Test',
            text: 'Here you gonna se the statics of the generated logs',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'info',
            hideAfter: 3500,
            stack: 6
        })
    });
    </script>

</body>

</html>
